<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<connectionStrings>
		<add name="GolfClubDBConnection"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=GolfClubDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>

		<compilation debug="true" targetFramework="4.8" />

		<httpRuntime targetFramework="4.8" />

		<customErrors mode="Off" />

		<authentication mode="None" />

		<sessionState timeout="30" />

	</system.web>

	<system.webServer>

		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="IndexWebForm.aspx" />
			</files>
		</defaultDocument>

		<staticContent>

			<remove fileExtension=".css" />
			<mimeMap fileExtension=".css" mimeType="text/css" />

			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="application/javascript" />

			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />

			<remove fileExtension=".webp" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />

			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/woff" />

			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />

			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="font/ttf" />

			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

			<remove fileExtension=".ico" />
			<mimeMap fileExtension=".ico" mimeType="image/x-icon" />

		</staticContent>

		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-XSS-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>

	</system.webServer>

	<appSettings>

		<add key="ClubName"
			 value="Emerald Fairways Golf Club" />

		<add key="ContactEmail"
			 value="info@emeraldfairways.com" />

		<add key="ContactPhone"
			 value="+1 (707) 555-3612" />

	</appSettings>

</configuration>